<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Browse</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
		type="text/javascript"></script>
	<script	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"
		type="text/javascript"></script>
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		type="text/javascript"></script>
		
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">	
		<a class="navbar-brand" href="..">Ide jön a cég neve</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="../shipping_info.html">Shipping
						information<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item active"><a class="nav-link" href="../about.html">About
						us<span class="sr-only">(current)</span>
				</a></li>
				
				<li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Sort By:
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		          <a class="dropdown-item" href="#">Price ascending</a>
		          <a class="dropdown-item" href="#">Price descending</a>
		          <a class="dropdown-item" href="#">Recommended</a>
	            </div>
	            <li class="nav-item active"><a class="nav-link" th:href="@{/login}">Log in<span
						class="sr-only">(current)</span></a></li>
			</ul>
			<form class="form-inline my-2 my-lg-0" action="">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>
	
	<div class="main">
	  
	  <ul class="cards">	  
	    <li class="cards_item" th:each="album : ${albums}">
	    	
		      <div class="card">
		      	<a class="card_title" th:href="@{/product/} + ${album.albumId}" >		          
			        <img class="card-img-top" th:if="${album.albumPic != null}" th:src="  '../images/' + ${album.albumPic}">
			        <img class="card-img-top" th:unless="${album.albumPic != null}" th:src="@{../images/no_pic.png}">
		        </a>
		        <div class="card_content">
		          <a class="card_title" th:href="@{/product/} + ${album.albumId}" th:text="${album.title}">
		          </a>
		          <p class="card_text" th:text="${album.price} + ' USD' "> </p>
		          <!-- <button class="btn card_btn" onclick="location.href=''" type="button">Read More</button> -->
		        </div>
		      </div>
		    
	    </li>
	  </ul>
	</div>

	
</body>
</html>