<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title th:text="${album.title}"></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
		type="text/javascript"></script>
	<script	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"
		type="text/javascript"></script>
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		type="text/javascript"></script>
		
	<link rel="stylesheet" type="text/css" th:href="@{/css/product.css}"/>
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">	
		<a class="navbar-brand" href="..">Ide jön a cég neve</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="../shipping_info.html">Shipping
						information<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item active"><a class="nav-link" href="../about.html">About
						us<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item active"><a class="nav-link" href="#">Contact<span
						class="sr-only">(current)</span></a></li>
			
			</ul>
			
		</div>
	</nav>
	
	<div class="container mainDiv">
	  <div class="row">
	    <div class="col-md">
	      <img class="card-img-top" th:if="${album.albumPic != null}" th:src="  '../images/' + ${album.albumPic}">
		  <img class="card-img-top" th:unless="${album.albumPic != null}" th:src="@{../images/no_pic.png}">
	    </div>
	    <div class="col-md">
	      <h1 class="albumTitle" th:text="${album.title}"></h1>
	      <em>Style:</em>
	      <p th:text="${album.style}"></p>
	      <em> Description </em>
	      <p th:text="${album.description}"></p>
	      
	      <form>
	      	<div class="form-row addToBasketForm">
	      		<div class="col">
	      			<label for="quantity">  Enter quantity: </label>
	      	 		<input type="number" id="quantity" name="quantity" min="1" max="5">
	      		</div>
	      		<div class="col">
	      			<input type="submit" value="Add to basket">	   
	      		</div>   	  
	      	</div>
	      	
	      </form>
	    </div>
	  </div>
    </div>
	
</body>
</html>