html {
  background-color: #ecf9ff;
}

body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}


img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.mainDiv {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

.albumTitle {
	margin-bottom: 20 px;
}

.addToBasketForm {
	border: groove;
	border-color: #272727;
	
	position:absolute;
    left:0;
    right:0;
    bottom:0;
    margin-left:auto;
    margin-right:auto;
	
}

